.MidSection{
    background-color: #0D1117;
}
.top-section{
    background-color: #0D1117;
    box-sizing: border-box;
    
}
.top-section img{
    display: block;
    margin: auto;
   width: 80%;
   padding: 40px 0;
}
.top-section img:hover{
     transform: scale(1.05);
}
.body-section{
    /* border: 2px solid red; */
    display: flex;
    background-color: #30363d;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.body-section:hover{
    transform: scale(1.05);
}
.body-section-first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 50%;
    padding: 10px;
}
.body-section-first p{
    font-size: 30px;
    font-weight: bold;
}
.body-section-second{
    width: 50%;
}
.body-section-second img{
    display: block;
    width: 100%;
    padding: 5px;
}

